<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Poznaj wlascicieli', owners_path, class: "btn btn-sm btn-outline-light" %>&nbsp;&nbsp;
  <%= link_to 'Przegad sklepu', shops_path, class: "btn btn-sm btn-outline-light" %>&nbsp;&nbsp;
  <%= link_to 'Przegald towaru', items_path, class: "btn btn-sm btn-outline-light" %>&nbsp;&nbsp;
  <%= link_to 'Zobacz kategorie', categories_path, class: "btn btn-sm btn-outline-light" %>&nbsp;&nbsp;
  <%= link_to 'Gdzie nas szuakc', addresses_path, class: "btn btn-sm btn-outline-light" %>&nbsp;&nbsp;
</nav>